[submodule "adb-multi"]
	path = adb-multi
	url = https://github.com/KreAch3R/adb-multi.git
	branch = master
[submodule "android-scripts"]
	path = android-scripts
	url = https://github.com/tdm/android-scripts
	branch = master
[submodule "git-scripts"]
	path = git-scripts
	url = https://github.com/jwiegley/git-scripts
[submodule "Bash-Snippets"]
	path = Bash-Snippets
	url = https://github.com/alexanderepstein/Bash-Snippets
